@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

::selection {
  background: rgba(0, 0, 0, .2);
}

body {
  padding: 0;
  margin: 0;
  text-align: left;
  height: 100vh;
	background: linear-gradient(to bottom, #827265 0, #4b4037 100%);
  font-family: Lato, "Segoe UI", Helvetica, "Open Sans", Arial;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;
}

.center {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  align-items: space-around;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bottom {
  height: 10%;
  flex: 0 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: .1s linear all;
  padding: 0 1.2%;
}

.sidebar {
  position: absolute;
  left: -1px;
  top: 0;
  bottom: 0;
  width: 25%;
  z-index: 2;
  background: rgba(10, 10, 10, .9);
  border-right: 1px solid rgba(255, 255, 255, .3);
  box-shadow: 0 0 5px rgba(0, 0, 0, .7);
  transition: .25s ease-in-out all;
  z-index: 100;
}

.sidebar.hidden {
  left: -26%;
  display: block;
}

.sidebar ul {
  list-style: none;
  margin: 1.0rem 0;
  padding: 0;
}

.sidebar li {
  margin: 0;
}

.sidebar li a {
  display: block;
  color: #ccc;
  font-size: 1.2rem;
  padding: 0.75rem 1.25rem;
  transition: .1s linear all;
  cursor: pointer;
}

.sidebar li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, .1);
}

.customWordsBar {
  position: absolute;
  left: 75%;
  top: 0;
  bottom: 0;
  width: 25%;
  z-index: 2;
  background: rgba(10, 10, 10, .9);
  border-left: 1px solid rgba(255, 255, 255, .3);
  box-shadow: 0 0 5px rgba(0, 0, 0, .7);
  transition: .25s ease-in-out all;
  z-index: 101;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.customWordsBar.hidden {
  display: block;
  left: 101%;
}

.textarea_area {
  flex: 1 1 auto;
  display: flex;
  padding: 1.0rem 1.0rem 0.5rem 1.0rem;
}

.button_area {
  flex: 0 0 auto;
  padding: 0.5rem 1.0rem 1.0rem 1.0rem;
}

textarea {
  align-self: stretch;
  display: block;
  border: none;
  background-color: rgba(100, 100, 100, .7);
  color: #eee;
  font-family: Lato, "Segoe UI";
  resize: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
  overflow-y: scroll;
  box-shadow: 1px 1px 2px inset rgba(0, 0, 0, .4);
}

button {
  padding: 0.5rem 1.0rem;
  border-radius: 6px;
  font-size: 1.3rem;
  outline: 0;
  cursor: pointer;
  border: 2px solid #187c5b;
  background: #34a07c;
  transition: .1s linear all;
  color: #e6e6e6;
  text-shadow: 0px -1px 1px #1c5f49;
  font-weight: 300;
  margin-right: 1.0rem;
}

button:hover {
  background: #298b6b;
}

.button--cancel {
  border: 2px solid #7c1818;
  background: #a03434;
  text-shadow: 0px -1px 1px #5f1c1c;
}

.button--cancel:hover {
  background: #8b2929;
}

.card_border {
  flex: 0 0 18%;
  background: #ccc5b3;
  height: 17%;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, .2);
  cursor: default;
  transition: .1s linear all;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}

.card_border:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, .8);
  margin-bottom: 2px;
  margin-top: -2px;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.card_top {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row-reverse;
  align-self: stretch;
}

.decor_line {
  flex: 1 1 auto;
}

.spy {
  flex: 0 0 20%;
  box-sizing: border-box;
	border: 2px solid #eaeaea;
	height: 75%;
	width: 20%;
	display: inline-block;
  background: #555;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  margin-right: 5px;
  margin-top: 5px;
  z-index: 10;
  transition: .1s linear all;
}

#c0 .spy { background-image: url('../static/spies/anthony-blunt.png'); }
#c1 .spy { background-image: url('../static/spies/oleg-penkovsky.png'); }
#c2 .spy { background-image: url('../static/spies/elizabeth-van-lew.png'); }
#c3 .spy { background-image: url('../static/spies/grima-wormtongue.png'); }
#c4 .spy { background-image: url('../static/spies/sydney-reilly.png'); }
#c5 .spy { background-image: url('../static/spies/mati-hari.png'); }
#c6 .spy { background-image: url('../static/spies/nancy-wake.png'); }
#c7 .spy { background-image: url('../static/spies/elyesa-bazna.png'); }
#c8 .spy { background-image: url('../static/spies/the-prisoner.png'); }
#c9 .spy { background-image: url('../static/spies/ray-mawby.png'); }
#c10 .spy { background-image: url('../static/spies/belle-boyd.png'); }
#c11 .spy { background-image: url('../static/spies/the-somerton-man.png'); }
#c12 .spy { background-image: url('../static/spies/virginia-hall.png'); }
#c13 .spy { background-image: url('../static/spies/guy-burgess.png'); }
#c14 .spy { background-image: url('../static/spies/ethel-rosenberg.png'); }
#c15 .spy { background-image: url('../static/spies/julius-rosenberg.png'); }
#c16 .spy { background-image: url('../static/spies/richard-sorge.png'); }
#c17 .spy { background-image: url('../static/spies/christiaan-hurgronje.png'); }
#c18 .spy { background-image: url('../static/spies/kim-philby.png'); }
#c19 .spy { background-image: url('../static/spies/fritz-duquesne.png'); }
#c20 .spy { background-image: url('../static/spies/robert-hanssen.png'); }
#c21 .spy { background-image: url('../static/spies/thomas-miller-beach.png'); }
#c22 .spy { background-image: url('../static/spies/george-koval.png'); }
#c23 .spy { background-image: url('../static/spies/donald-maclean.png'); }
#c24 .spy { background-image: url('../static/spies/klaus-fuchs.png'); }


.wordbox {
  flex: 0 0 auto;
  color: #0c0b13;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  line-height: 3.2rem;
  font-family: Lato, "Sego UI";
  position: relative;
  width: 100%;
  z-index: 5;
}


.wordbox:before{
  content:"";
  position:absolute;
  top:-30px;
  bottom:-50px;
  left:-50%;
  right:-50%;
  background:#c0a78a;
  transform: rotate(9deg) translate(-0, 10%);
  z-index: -1;
  opacity: 0.7;
}

.wordbox:after{
  content:"";
  position:absolute;
  top:-20px;
  bottom:-50%;
  left:-50%;
  right:-50%;
  background:#7f7869;
  transform: rotate(4deg) translate(0px, 0px);
  z-index: -2;
  opacity: 1;
}

.wordbox span {
  width: 100%;
}

.clickable {
	cursor: pointer;
}

.red-turn .card_border:hover {
	box-shadow: 0px 0px 15px 5px #cf314e;
}
.blue-turn .card_border:hover {
	box-shadow: 0px 0px 15px 5px #2b7bb4; 
}

.pass {
  background-color: #C63702;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #C63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #AD3002, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  color: #FFF;
  display: block;
  font-size: 22px;
  font-weight: 600;
  height: 90%;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 1px black;
  text-decoration: none !important;
  transition: 0.05s linear all;
  width: 100%;
  cursor: pointer;
  line-height: 2.5rem;
  top: 0px;
}

.pass span {
  opacity: 0.4;
  display: block;
  line-height: 1.0rem;
  font-weight: 400;
  font-size: 80%;
}

.pass:hover, .pass:focus {
  background-color: #D13902;
  box-shadow: 
    0 0 0 1px #C63702 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 10px 0 0 #AD3002,
    0 10px 0 1px rgba(0, 0, 0, 0.4),
    0 10px 8px 1px rgba(0, 0, 0, 0.6);
    top: -2px;
}

.pass:active {
  box-shadow: 
    0 0 0 1px #AD3002 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4); 
  transform: translateY(10px);
}

.bottom_center::selection {
  background: transparent;
}


.bottom > div {
  padding: 0.5rem;
  text-shadow: -2px -3px 4px rgba(0, 0, 0, .4);
}

.bottom_no_stretch {
  flex: 0 0 auto !important;
  align-self: stretch;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.bottom_left, .bottom_right {
  flex: 1 1 auto;
  font-family: "Oswald";
  font-size: 2.0rem;
  line-height: 2.25rem;
	cursor: default;
  color: #ccc;
  text-align: center;
}

.settings_button, .info_button, .close_button, .teams_button, .new_game_button, .qr_button, .spymaster_button {
  display: inline-block;
  height: 6.5vh;
  width: 6.5vh;
  border-radius: .5vh;
  background: url('../static/settings.svg') no-repeat center center;
  background-size: 85%;
  transition: .15s linear all;
  cursor: pointer;
}

.settings_button:hover, .info_button:hover, .teams_button:hover, .new_game_button:hover, .qr_button:hover, .spymaster_button:hover {
  background-color: rgba(255, 255, 255, .1);
}

.close_button {
  background-image: url('../static/images/close.png');
  opacity: 0.7;
  transition: .15s linear opacity;
}

.info_button {
  background-image: url('../static/info.svg');
}

.qr_button {
  background-image: url('../static/images/qr.png');
}

.spymaster_button {
  background-image: url('../static/images/decoder-preview.png');
}

.new_game_button {
  background-image: url('../static/images/new_game.png');
}

.teams_button {
  background-image: url('../static/images/teams.png');
}

.close_button:hover {
  opacity: 1;
}

.red_remaining {
  color: #ffbbc8;
}

.blue_remaining {
	color: #aeddff;
}

em {
	font-style: normal;
}

.button {
  border-radius: 8px;
  padding: 0 0.5rem;
}

.button:hover {
  background-color: rgba(255, 255, 255, .05);
  color: #fff;
  cursor: pointer;
  transition: .15s linear all;
}

.turn_text {
  display: block;
}

.new_game {
	cursor: pointer;
	color: rgba(255, 255, 255, .5);
}

.bottom_span {
  display: block;
  font-weight: 200;
  opacity: 0.5;
  font-size: 1.2rem;
}

.password {
  text-transform: lowercase;
}

.hidden {
  display: none;
}

.icon {
  display: inline-block;
  height: 1.0rem;
  width: 1.0rem;
  background: #fff;
  mask: url('../static/checked.svg') no-repeat center center;
  mask-size: contain;
  margin-right: 0.75rem;
  vertical-align: baseline;
}

.icon.edit {
  mask-image: url('../static/edit.svg');
}

.icon.unchecked {
  mask-image: url('../static/unchecked.svg');
}

.icon.close {
  mask-image: url('../static/close.svg');
}

.lightbox {
  background: rgba(0, 0, 0, .8);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  transition: .3s linear all;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox > div {
  background: linear-gradient(-10deg, #b6a69c 0, rgb(212, 206, 202) 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  border: 1px solid #fff;
  max-width: 80%;
  color: #222;
  border-radius: 6px;
  padding: 18px;
  display: flex;
  line-height: 1.6rem;
}

.lightbox > div .instructions {
  order: 1;
  flex: 1 1 60%;
  text-align: justify;
  padding: 1.0rem 4.0rem 1.0rem 1.0rem;
}

.lightbox > div .right-side {
  order: 2;
  flex: 1 1 40%;
  padding: 1.0rem;
}

.lightbox .spymaster {
  background: rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 5px;
  padding: 0.75rem;
  display: flex;
  text-decoration: none;
  color: #444444;
  transition: .2s linear all;
}

.lightbox .spymaster:hover {
  background: rgba(0, 0, 0, .2);
}

.lightbox .legal {
  text-align: justify;
  padding: 1.0rem 0rem 1.0rem 0rem;
}

.lightbox h2 {
  font-weight: 600;
  font-size: 1.4rem;
  margin: 1.0rem 0 1.0rem 0;
  padding: 0;
}

.flex_row {
  display: flex;
  flex: 0 0 100%;
}

.flex_fill {
  flex: 1 1 auto;
}

.modal {
  background: #1a1c1f;
  border: 1px solid #323539;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.0rem 1.0rem 1.5rem 1.0rem;
  border-radius: 8px;
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, .4);
  max-width: 60%;
  min-width: 30%;
  flex-wrap: wrap;
}

.modal input[type='text'], .modal select {
  margin: 0 -.25rem 1.5rem;
  background: #e5e5e5;
  box-shadow: none;
  font-size: 1.1rem;
  padding: 0.5rem;
  color: #4f4f4f;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.flex_container h2 {
  flex: 1 1 100%;  
}

.flex_container h3 {
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 1.3rem;
  margin: 0 0 0.5rem;
  padding: 0;
  text-shadow: 1px 0px 1px rgba(255, 255, 255, .4);
}

.flex_container h4 {
  font-size: 26px;
  font-weight: 200;
  margin: 1.0rem 0.5rem;
  padding: 0;
}

.modal_red {
  flex: 0 0 50%;
  color: rgb(197, 74, 86);
  text-align: center;
  transition: .25s linear transform;
}

.modal_red h3 {
  text-align: center;
}

.modal_blue {
  flex: 0 0 50%;
  color: rgb(73, 86, 201);
  text-align: center;
  transition: .15s linear transform;
}

.modal .pad {
  padding: 1.0rem;
}

.modal_red.inactive,
.modal_blue.inactive {
  cursor: default;
}

.modal_red.inactive:hover h4,
.modal_blue.inactive:hover h4 {
  transform: none !important;
}

.modal_blue h3 {
  text-align: center;
}

.modal_spectators {
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
  flex: 1 1 100%;
  color: #4b4b4b;
  text-align: center;
}

.modal_spectators h3 {
  text-align: center;
}

.modal p {
  flex: 1 1 100%;
}


blockquote {
  font-style: italic;
  color: #666;
  margin-left: 0;
  margin-right: 0;
  border-left: 3px solid #aaa;
  padding-left: 0.5rem;
  padding: 0.5rem;
  background: rgba(0, 0, 0, .05);
  line-height: 1.4rem;
  font-size: 0.8rem;
}

.lightbox.show {
  opacity: 1;
  visibility: visible;
}

.lightbox.hidden {
  opacity: 0;
  visibility: hidden;
}

.hide_spies .spy {
  opacity: 0;
}

.spymaster-preview {
  flex: 0 0 auto;
  height: 5.0rem;
  width: 5.0rem;
  background: #e5e5e5 url('../static/images/decoder-preview.png') no-repeat;
  background-size: contain;
  margin-right:  0.75rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  border-radius: 3px;
}


/******** Uncovered ********/
.uncovered:hover {
  box-shadow: none !important;
  cursor: default !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, .2) !important;
}

/** Neutral **/
.team-0.uncovered {
  transition: .1s linear all;
  opacity: 0.3;
  filter: saturate(0);
}

/** Red **/
.team-1.uncovered .card {
  background: linear-gradient(to bottom, #ecb6c1 0, #dbc7cb 100%) !important;
}
.team-1.uncovered .wordbox {
  color: #680c17 !important;
}
.team-1.uncovered .wordbox:before {
  background: #db6161 !important;
  animation: flip1 .5s ease-in-out;
  animation-fill-mode: forwards;  
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
}
.team-1.uncovered .wordbox:after {
  background: #664c4f !important;
  animation: flip2 .5s ease-in-out;
  animation-fill-mode: forwards;  
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
}

/** Blue **/
.team-2.uncovered {
  background: #ccc !important;
  color: #2b7bb4 !important;
}

.team-2.uncovered {
  background: linear-gradient(to bottom, #b7d6ed 0, #c8d3db 100%) !important;
}

.team-2.uncovered .wordbox:before {
  background: #6094db !important;
  animation: flip1 .5s ease-in-out;
  animation-fill-mode: forwards;  
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
}
.team-2.uncovered .wordbox:after {
  color: #0d3e69 !important;
  animation: flip2 .5s ease-in-out;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
}
.team-2.uncovered .wordbox:after {
  background: #4c5b66 !important;
}

/** Assassin **/
.team--1.uncovered {
  background: linear-gradient(to bottom, #433e44 0, #aaa 100%) !important;
}
.team--1.uncovered .wordbox {
  color: #bfaac5 !important;
}
.team--1.uncovered .wordbox:before {
  background: #1f1a1f !important;
  animation: flip1 .5s ease-in-out;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
}
.team--1.uncovered .wordbox:after {
  background: #361e3b !important;
  animation: flip2 .5s ease-in-out;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
}

@keyframes flip1 {
  from {
    transform: rotate(9deg) translate(-0, 10%);
  }
  to {
    transform: rotate(-9deg) translate(-0, 10%);
  }
}

@keyframes flip2 {
  from {
    transform: rotate(4deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-4deg) translate(0px, 0px);
  }
}

.toast_container {
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, .7);
}