::selection {
  background: rgba(0, 0, 0, .2);
}

body {
  padding: 0;
  margin: 0;
  text-align: left;
  height: 100vh;
	background: linear-gradient(to bottom, #827265 0, #4b4037 100%);
	font-family: "Segoe UI", Helvetica, "Open Sans", Arial;
}

.container {
  display: flex;
  height: 100%;
}

.center {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  align-items: space-around;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bottom {
  height: 10%;
  flex: 0 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: .1s linear all;
}

.sidebar {
  position: absolute;
  left: -1px;
  top: 0;
  bottom: 0;
  width: 25%;
  z-index: 2;
  background: rgba(10, 10, 10, .9);
  border-left: 1px solid #b5bdc7;
  border-right: 1px solid rgba(255, 255, 255, .3);
  box-shadow: 0 0 5px rgba(0, 0, 0, .7);
  transition: .25s ease-in-out all;
  z-index: 100;
}

.sidebar.hidden {
  left: -26%;
  display: block;
}

.sidebar ul {
  list-style: none;
  margin: 1.0rem 0;
  padding: 0;
}

.sidebar li {
  margin: 0;
}

.sidebar li a {
  display: block;
  color: #ccc;
  font-size: 1.2rem;
  padding: 0.75rem 1.25rem;
  transition: .1s linear all;
  cursor: pointer;
}

.sidebar li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, .1);
}

.sidebar_tab {
  position: absolute;
  bottom: 2%;
  top: 92%;
  width: 12%;
  right: -12%;
  display: block;
  background: rgba(10, 10, 10, .9);
  box-shadow: 0 0 5px rgba(0, 0, 0, .7);
  border-top: 1px solid rgba(255, 255, 255, .3);
  border-right: 1px solid rgba(255, 255, 255, .3);
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.card_border {
  flex: 0 0 18%;
  background: #ccc5b3;
  height: 17%;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, .2);
  cursor: default;
  transition: .1s linear all;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}

.card_border:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, .8);
  margin-bottom: 2px;
  margin-top: -2px;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.card_top {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row-reverse;
  align-self: stretch;
}

.decor_line {
  flex: 1 1 auto;
  /* border-bottom: 3px solid #a24832; */
/*  margin-right: 0.5rem; */
}

.spy {
  flex: 0 0 20%;
  box-sizing: border-box;
	border: 2px solid #eaeaea;
	height: 75%;
	width: 20%;
	display: inline-block;
  background: #555;
  background-position: center center;
	background-size: cover;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  margin-right: 5px;
  z-index: 10;
  margin-top: 5px;
  transition: .1s linear all;
}

#c0 .spy { background-image: url('../static/spies/anthony-blunt.png'); }
#c1 .spy { background-image: url('../static/spies/oleg-penkovsky.png'); }
#c2 .spy { background-image: url('../static/spies/elizabeth-van-lew.png'); }
#c3 .spy { background-image: url('../static/spies/grima-wormtongue.png'); }
#c4 .spy { background-image: url('../static/spies/sydney-reilly.png'); }
#c5 .spy { background-image: url('../static/spies/mati-hari.png'); }
#c6 .spy { background-image: url('../static/spies/nancy-wake.png'); }
#c7 .spy { background-image: url('../static/spies/elyesa-bazna.png'); }
#c8 .spy { background-image: url('../static/spies/the-prisoner.png'); }
#c9 .spy { background-image: url('../static/spies/ray-mawby.png'); }
#c10 .spy { background-image: url('../static/spies/belle-boyd.png'); }
#c11 .spy { background-image: url('../static/spies/the-somerton-man.png'); }
#c12 .spy { background-image: url('../static/spies/virginia-hall.png'); }
#c13 .spy { background-image: url('../static/spies/guy-burgess.png'); }
#c14 .spy { background-image: url('../static/spies/ethel-rosenberg.png'); }
#c15 .spy { background-image: url('../static/spies/julius-rosenberg.png'); }
#c16 .spy { background-image: url('../static/spies/richard-sorge.png'); }
#c17 .spy { background-image: url('../static/spies/christiaan-hurgronje.png'); }
#c18 .spy { background-image: url('../static/spies/kim-philby.png'); }
#c19 .spy { background-image: url('../static/spies/fritz-duquesne.png'); }
#c20 .spy { background-image: url('../static/spies/robert-hanssen.png'); }
#c21 .spy { background-image: url('../static/spies/thomas-miller-beach.png'); }
#c22 .spy { background-image: url('../static/spies/george-koval.png'); }
#c23 .spy { background-image: url('../static/spies/donald-maclean.png'); }
#c24 .spy { background-image: url('../static/spies/klaus-fuchs.png'); }

.wordbox {
  flex: 0 0 auto;
  color: #0c0b13;
   /* background: #bc5c44; */
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  line-height: 2.8rem;
  font-family: Candara;
  position: relative;
  width: 100%;
  z-index: 5;
}


.wordbox:before{
  content:"";
  position:absolute;
  top:-30px;
  bottom:-50px;
  left:-50%;
  right:-50%;
  background:#c0a78a;
  transform: rotate(9deg) translate(-0, 10%);
  z-index: -1;
  opacity: 0.7;
}

.wordbox:after{
  content:"";
  position:absolute;
  top:-20px;
  bottom:-50%;
  left:-50%;
  right:-50%;
  background:#7f7869;
  transform: rotate(4deg) translate(0px, 0px);
  z-index: -2;
  opacity: 1;
}



.wordbox span {
  width: 100%;
}

.clickable {
	cursor: pointer;
}

.red-turn .card_border:hover {
	box-shadow: 0px 0px 15px 5px #cf314e;
}
.blue-turn .card_border:hover {
	box-shadow: 0px 0px 15px 5px #2b7bb4; 
}

.pass {
  background-color: #C63702;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #C63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #AD3002, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  color: #FFF;
  display: block;
  font-size: 22px;
  font-weight: 600;
  height: 90%;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 1px black;
  text-decoration: none !important;
  transition: 0.05s linear all;
  width: 100%;
  cursor: pointer;
  line-height: 2.5rem;
  top: 0px;
  vertical-align: middle;
}

.pass span {
  opacity: 0.4;
  display: block;
  line-height: 1.0rem;
  font-weight: 400;
  font-size: 80%;
}

.pass:hover, .pass:focus {
  background-color: #D13902;
  box-shadow: 
    0 0 0 1px #C63702 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 10px 0 0 #AD3002,
    0 10px 0 1px rgba(0, 0, 0, 0.4),
    0 10px 8px 1px rgba(0, 0, 0, 0.6);
    top: -2px;
}

.pass:active {
  box-shadow: 
    0 0 0 1px #AD3002 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4); 
  transform: translateY(10px);
}

.bottom_center::selection {
  background: transparent;
}


.bottom > div {
  flex: 0 0 auto;
  padding: 0.5rem;
  text-shadow: -2px -3px 4px rgba(0, 0, 0, .4);
}

.bottom_no_stretch {
  flex: 0 0 auto !important;
  align-self: stretch;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.bottom_left, .bottom_right {
  flex: 1 1 auto;
  font-family: "Oswald";
  font-size: 2.0rem;
  line-height: 2.25rem;
	cursor: default;
  color: #ccc;
  text-align: center;
}

.settings_button, .info_button {
  height: 6.5vh;
  width: 6.5vh;
  border-radius: .5vh;
  background: url('../static/settings.svg') no-repeat center center;
  background-size: 85%;
  transition: .15s linear all;
  cursor: pointer;
}

.settings_button:hover, .info_button:hover {
  background-color: rgba(255, 255, 255, .1);
}

.info_button {
  background-image: url('../static/info.svg');
}

.red_remaining {
  color: #ffbbc8;
}

.blue_remaining {
	color: #aeddff;
}

em {
	font-style: normal;
}

.button {
  border-radius: 8px;
  padding: 0 0.5rem;
}

.button:hover {
  background-color: rgba(255, 255, 255, .05);
  color: #fff;
  cursor: pointer;
  transition: .15s linear all;
}

.turn_text {
  display: block;
}

.passphrase {
	cursor: default;
	display: block;
	text-transform: uppercase;
}

.new_game {
	cursor: pointer;
	color: rgba(255, 255, 255, .5);
}

.bottom_span {
  display: block;
  font-weight: 200;
  opacity: 0.5;
  font-size: 1.2rem;
}

.password {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.icon {
  display: inline-block;
  height: 1.0rem;
  width: 1.0rem;
  background: #fff;
  mask: url('../static/checked.svg') no-repeat center center;
  mask-size: contain;
  margin-right: 0.75rem;
  vertical-align: baseline;
}

.icon.edit {
  mask-image: url('../static/edit.svg');
}

.icon.unchecked {
  mask-image: url('../static/unchecked.svg');
}

.icon.close {
  mask-image: url('../static/close.svg');
}

.lightbox {
  background: rgba(0, 0, 0, .8);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  transition: .1s linear all;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-fill-mode: both;
}

.lightbox div {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  width: 40%;
  height: 0%;
  padding-top: 40%;
  transition: .25s linear all;
}

.lightbox.show {
  opacity: 1;
  visibility: visible;
}

.lightbox.hidden {
  opacity: 0;
  visibility: hidden;
}

.hide_spies .spy {
  opacity: 0;
}

/******** Uncovered ********/
.uncovered:hover {
  box-shadow: none !important;
  cursor: default !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, .2) !important;
}

/** Neutral **/
.team-0.uncovered {
  transition: .1s linear all;
  opacity: 0.3;
  filter: saturate(0);
}

/** Red **/
.team-1.uncovered .card {
  background: linear-gradient(to bottom, #ecb6c1 0, #dbc7cb 100%) !important;
}
.team-1.uncovered .wordbox {
  color: #680c17 !important;
}
.team-1.uncovered .wordbox:before {
  background: #db6161 !important;
  animation: flip1 .5s ease-in-out;
  animation-fill-mode: forwards;  
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
}
.team-1.uncovered .wordbox:after {
  background: #664c4f !important;
  animation: flip2 .5s ease-in-out;
  animation-fill-mode: forwards;  
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
}

/** Blue **/
.team-2.uncovered {
  background: #ccc !important;
  color: #2b7bb4 !important;
}

.team-2.uncovered {
  background: linear-gradient(to bottom, #b7d6ed 0, #c8d3db 100%) !important;
}

.team-2.uncovered .wordbox:before {
  background: #6094db !important;
  animation: flip1 .5s ease-in-out;
  animation-fill-mode: forwards;  
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
}
.team-2.uncovered .wordbox:after {
  color: #0d3e69 !important;
  animation: flip2 .5s ease-in-out;
  animation-fill-mode: forwards;  
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
}
.team-2.uncovered .wordbox:after {
  background: #4c5b66 !important;
}

/** Assassin **/
.team--1.uncovered {
  background: linear-gradient(to bottom, #433e44 0, #aaa 100%) !important;
}
.team--1.uncovered .wordbox {
  color: #bfaac5 !important;
}
.team--1.uncovered .wordbox:before {
  background: #1f1a1f !important;
  animation: flip1 .5s ease-in-out;
  animation-fill-mode: forwards;  
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
}
.team--1.uncovered .wordbox:after {
  background: #361e3b !important;
  animation: flip2 .5s ease-in-out;
  animation-fill-mode: forwards;  
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
}

@keyframes flip1 {
  from {
    transform: rotate(9deg) translate(-0, 10%);
  }
  to {
    transform: rotate(-9deg) translate(-0, 10%);
  }
}

@keyframes flip2 {
  from {
    transform: rotate(4deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-4deg) translate(0px, 0px);
  }
}

/*

top:-30px;
bottom:-50px;
left:-50%;
right:-50%;
background:#c0a78a;
transform: rotate(9deg) translate(-0, 10%);
z-index: -1;
opacity: 0.7;
}

.wordbox:after{
content:"";
position:absolute;
top:-20px;
bottom:-50%;
left:-50%;
right:-50%;
background:#7f7869;
transform: rotate(4deg) translate(0px, 0px);

*/
